html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #606c76;
}

.container {
    max-width: 1200px;
}

input, select {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    font-size: 0.9rem;
}
.top-line {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: solid 1px #ccc;
    background: white;
    z-index: 300;
}
.search {
    height: 5rem;
    padding: 1rem 0;
}
#search {
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 6rem 0 1rem;
}
#words {
    width: 100%;
    height: 100%;
}

#words input {
    display: none;
}
#words label {
    margin-bottom: 0;
    font-weight: normal;
}

.word {
    cursor: pointer;
}
.word .column {
    pointer-events: none;
}
.word:nth-of-type(2n) {
    background-color: #eee;
}
input:checked + .word {
    background-color: rgba(95, 158, 160, 0.5);
}
input:checked + .word:nth-of-type(2n) {
    background-color: rgba(66, 119, 121, 0.5);
}
.word .index, .word .level {
    text-align: center;
}

.button {
    width: 100%;
}

#counter {
    padding: 0.8rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}